body{
	margin: 0;
	font-family: arial, sans-serif
}

/* nav */
nav{
	padding-left:65px;
}

nav ul li{
	display: inline-block;
	margin-right: 30px;
	vertical-align:middle;
}

nav a{
	text-decoration: none;
	color: black;
}
.logo{
	width: 150px; 
	margin-right: 70px;

}
.active{
	color: orange;
}
/* fin nav*/

/* building */

.building{
	background-image: url('../image/immeuble.jpg');
	height: 400px;
	background-size:cover;
	background-position: center;
	padding-top: 100px;
	padding-left:100px;
}

.building h1{
	font-size: 50px;
}
.building a{
	text-decoration: none;
	color: white;
	background-color: blue;
	padding: 10px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 7px;
}

/* fin building */

/* section */
section {
	margin-bottom: 200px
}

section h2{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.item{
	display: inline-block;
	border:2px solid grey;
	padding:20px;
	width: 210px;
	margin-right: 30px;
	border-radius: 5px;
	text-align: left;
}
.items{
	text-align: center;
}
.item img{
	width: 40px;
}
.item p{
	color: grey;
	font-size: 11px;

}